[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "imageviewer"]
	path = imageviewer
	url = https://github.com/yapus/imageviewer
